# Laravel
/node_modules
/vendor
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs
/.idea
/.vscode
.env
.env.backup
.env.local
.env.development
.env.production
.env.testing
.phpunit.result.cache
.phpunit.cache

# Docker
docker-compose.override.yml
.sail/storage

# Sistema Operacional e IDE
.DS_Store
Thumbs.db
